DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_ALLOWED_HOSTS=144.172.98.156,panacea-top.to,www.panacea-top.to
DJANGO_CSRF_TRUSTED_ORIGINS=http://144.172.98.156,https://panacea-top.to,https://www.panacea-top.to
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_STATIC_ROOT=/srv/panaceya/current/staticfiles
DJANGO_MEDIA_ROOT=/srv/panaceya/shared/media
